
@import url('https://fonts.googleapis.com/css?family=Mulish');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.Menu {
  background-color: #5A6276;
  flex: 0 1 300px;
  flex-direction: column;
}

.PagePersonnel {
  background-color: bisque;
  flex: 1;
}

.LogoHachi{
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 8%;
  background-color: white;
}

.LogoImg{
  width: 165px;
  margin-top: 2%;
}

.iconCheDown{
  margin-left: 22%;
}

.TagMenu{
  background-color: #5A6276;

}

.PersonelEvaluation{
  display: block;
  height: 60px;
  background-color: rgb(209, 207, 207);
}

.PersonelEvaluation:hover{
  background-color: #5CB800;
  cursor: pointer;
}

.PersonelEvaluation:hover .iconCheckList,
.PersonelEvaluation:hover .h3PersonelEvaluation,
.PersonelEvaluation:hover .iconChePer {
  color: #5CB800;
}

.ChildPersonelEvaluation{
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
  margin-left: 2%;
  text-align: center;
  background-color: #5A6276;
}

.h3PersonelEvaluation{
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  text-shadow: -2px 2px #4e4e4e;
  color: white;
  
}
.ChildPersonelEvaluation .iconCheckList, 
.ChildPersonelEvaluation .iconChePer {
  color: white;
  width: 18%;
}



.PersonelEvaluation.green .iconCheckList,
.PersonelEvaluation.green .h3PersonelEvaluation,
.PersonelEvaluation.green .iconChePer {
  color: #5CB800;
}

.PersonelEvaluation.green{
  background-color: #5CB800;
}

.ChildMenu{
  display: block;
}

.QuestionBank{
  display: block;
  height: 60px;
  background-color: rgb(209, 207, 207);
}

.childQuestionBank{
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
  margin-left: 2%;
  text-align: center;
  background-color: #474F63;
  padding-left: 6%;
}

.childQuestionBank .iconQuestion{
  color: white;

}

.childQuestionBank .h3QuestionBank {
  color: white;
  font-family: 'Mulish', sans-serif;
  text-shadow: -2px 2px #4e4e4e;
  font-size: 16px;
  margin-left: 16%;
}

.childQuestionBank:hover .iconQuestion,
.childQuestionBank:hover .h3QuestionBank{
  color: #5CB800;
}

.QuestionBank:hover{
  background-color: #5CB800;
}

.QuestionBank.green .iconQuestion,
.QuestionBank.green .h3QuestionBank{
  color: #5CB800;
}

.QuestionBank.green{
  background-color: #5CB800;
}


.PagePersonnel{
  background-color: #EDEFF3;
}

.Header{
  background-color: white;
  display: flex;
  height: 60px;
  width: 99.5%;
  margin-left: 0.25%;
  align-items: center;
}

.tabs {
  display: flex;
  font-family: 'Mulish', sans-serif;
  color: #BBBBBB;
  font-weight: bold;
  width: 60%;

}
.tab {
  padding-left: 2%;
  padding-right: 2%;
  white-space: nowrap;
  position: relative;
  
}
.tab:not(:last-child)::after {
  content: '|';
  padding-left: 27%;
}

.tab-content {
  display: inline-block;
  position: relative;
}

.tab-content:hover{
  cursor: pointer;
  color: #248546;

}

.tab:hover .tab-content::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #248546;
}



.tab-content.green::after{
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #248546;
  
}

.tab-content.green{
  color: #248546;
}

.ElseOfHeader{
  /* background-color: #248546; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
  margin-left: 30%;
}

.iconSearch{
  height: 20px;
  color: #BBBBBB;
}

.iconBell{
  height: 20px;
  color: #BBBBBB;
}

.iconSearch:hover,
.iconBell:hover{
  color: #248546;
  cursor: pointer;
}

.circleAvt{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #5CB800;
  overflow: hidden;
}

.avt{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.FilterGroup{
  display: flex;
  align-items: center;
  /* background-color: #248546; */
  height: 60px;
}

.Groups{
  display: flex;
  padding-left: 1%;
  width: 37%;
  justify-content: space-between;

}

.Writing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  border: 3px solid rgb(253, 253, 253);
  color: #6b6b6b;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  white-space: nowrap;

}

.Writing:hover{
  border: 3px solid #008000;
}

.CheckWriting {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  appearance: none;
  border-radius: 3px;
  border:2px solid #BBBBBB ;
  margin-left: 10px;
}


.Writing:hover .CheckWriting {
  background-color: #008000;
  border: 2px solid #008000;
}

.CheckWriting:checked {
  background-color: #008000;
  border: 2px solid #008000;
}


.CheckWriting:checked::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 3.5px;
  width: 2.2px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.Writing.green{
  border: 3px solid #008000;
}








