
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.Menu {
  background-color: #5A6276;
  flex: 0 1 300px;
  flex-direction: column;
}

.PagePersonnel {
  background-color: bisque;
  flex: 1;
}

.LogoHachi{
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 8%;
  background-color: white;
}

.LogoImg{
  width: 165px;
  margin-top: 2%;
}

.iconCheDown{
  margin-left: 22%;
}

.TagMenu{
  background-color: #5A6276;

}

.PersonelEvaluation{
  display: block;
  height: 60px;
  background-color: rgb(209, 207, 207);
}

.PersonelEvaluation:hover{
  background-color: #5CB800;
}

.PersonelEvaluation:hover .iconCheckList,
.PersonelEvaluation:hover .h3PersonelEvaluation,
.PersonelEvaluation:hover .iconChePer {
  color: #5CB800;
}

.ChildPersonelEvaluation{
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
  margin-left: 2%;
  text-align: center;
  background-color: #5A6276;
}

.h3PersonelEvaluation{
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  text-shadow: -2px 2px #4e4e4e;
  color: white;
  
}
.ChildPersonelEvaluation .iconCheckList, 
.ChildPersonelEvaluation .iconChePer {
  color: white;
  width: 18%;
}



.PersonelEvaluation.green .iconCheckList,
.PersonelEvaluation.green .h3PersonelEvaluation,
.PersonelEvaluation.green .iconChePer {
  color: #5CB800;
}

.PersonelEvaluation.green{
  background-color: #5CB800;
}

.ChildMenu{
  display: block;
}

.QuestionBank{
  display: block;
  height: 60px;
  background-color: rgb(209, 207, 207);
}

.childQuestionBank{
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
  margin-left: 2%;
  text-align: center;
  background-color: #3c4049;
  padding-left: 6%;
}

.childQuestionBank .iconQuestion{
  color: white;

}

.childQuestionBank .h3QuestionBank {
  color: white;
  font-family: 'Mulish', sans-serif;
  text-shadow: -2px 2px #4e4e4e;
  font-size: 16px;
  margin-left: 16%;
}

.childQuestionBank:hover .iconQuestion,
.childQuestionBank:hover .h3QuestionBank{
  color: #5CB800;
}

.QuestionBank:hover{
  background-color: #5CB800;
}

.QuestionBank.green .iconQuestion,
.QuestionBank.green .h3QuestionBank{
  color: #5CB800;
}

.QuestionBank.green{
  background-color: #5CB800;
}
