
@import url('https://fonts.googleapis.com/css?family=Mulish');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.Menu {
  background-color: #5A6276;
  flex: 0 1 300px;
  flex-direction: column;
}

.PagePersonnel {
  background-color: bisque;
  flex: 1;
}

.LogoHachi{
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 8%;
  background-color: white;
}

.LogoImg{
  width: 165px;
  margin-top: 2%;
}

.iconCheDown{
  margin-left: 22%;
}

.TagMenu{
  background-color: #5A6276;

}

.PersonelEvaluation{
  display: block;
  height: 60px;
  background-color: rgb(209, 207, 207);
}

.PersonelEvaluation:hover{
  background-color: #5CB800;
  cursor: pointer;
}

.PersonelEvaluation:hover .iconCheckList,
.PersonelEvaluation:hover .h3PersonelEvaluation,
.PersonelEvaluation:hover .iconChePer {
  color: #5CB800;
}

.ChildPersonelEvaluation{
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
  margin-left: 2%;
  text-align: center;
  background-color: #5A6276;
  /* border-left: 10px solid rgb(189, 22, 22); */

}

/* .ChildPersonelEvaluation:hover{
  border-left: 10px solid rgb(206, 153, 153);
} */

.h3PersonelEvaluation{
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  /* text-shadow: -2px 2px #4e4e4e; */
  color: white;
  
}
.ChildPersonelEvaluation .iconCheckList, 
.ChildPersonelEvaluation .iconChePer {
  color: white;
  width: 18%;
}



.PersonelEvaluation.active .iconCheckList,
.PersonelEvaluation.active .h3PersonelEvaluation,
.PersonelEvaluation.active .iconChePer {
  color: #5CB800;
}

.PersonelEvaluation.active{
  background-color: #5CB800;
}

.ChildMenu{
  display: block;
}

.QuestionBank{
  display: block;
  height: 60px;
  background-color: #5A6276;
}

.childQuestionBank{
  display: flex;
  align-items: center;
  height: 100%;
  width: 98%;
  margin-left: 2%;
  text-align: center;
  background-color: #5A6276;
  padding-left: 6%;
  
}

.childQuestionBank .iconQuestion{
  color: #959DB3;

}


.childQuestionBank .h3QuestionBank {
  color: #959DB3;
  font-family: 'Mulish', sans-serif;
  text-shadow: -2px 2px #4e4e4e;
  font-size: 16px;
  margin-left: 16%;
}

.childQuestionBank:hover .iconQuestion,
.childQuestionBank:hover .h3QuestionBank{
  color: #ffffff;
}

.childQuestionBank.active{
  background-color: #474F63;
}

.QuestionBank:hover{
  background-color: #ffffff;
}

.QuestionBank.active .iconQuestion,
.QuestionBank.active .h3QuestionBank{
  color: #ffffff;
}

.QuestionBank.active{
  background-color: #ffffff;
}


.PagePersonnel{
  background-color: #EDEFF3;
}

.Header{
  background-color: white;
  display: flex;
  height: 60px;
  width: 99.5%;
  margin-left: 0.25%;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* background-color: #008000; */
  padding-right: 2%;
  box-sizing: border-box;
}

.tabs {
  display: flex;
  font-family: 'Mulish', sans-serif;
  color: #BBBBBB;
  font-weight: bold;
  width: 845px;
  height: 100%;
  align-items: center;
  gap: 15px;
  padding-left: 2%;
}

.LineTab{
  background-color: #C4C4C4;
  width: 2.5px;
  height: 30px;
  border-radius: 3px;
  position: relative;
}

.tab {
  /* padding-left: 2%;
  padding-right: 2%; */
  white-space: nowrap;
  position: relative;
  
}
/* .tab:not(:last-child)::after {
  content: '|';
  padding-left: 27%;
} */

.tab-content {
  display: inline-block;
  position: relative;
}

.tab-content:hover{
  cursor: pointer;
  color: #248546;
}

/* .tab:hover .tab-content::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #248546;
} */



.tab-content.active::after{
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #248546;
  
}

.tab-content.active{
  color: #248546;
}

.ElseOfHeader{
  /* background-color: #248546; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: calc(100% - 845px);
}

.SearchHeader:hover{
  cursor: pointer;
}

.SearchHeader:hover
.ImgSearch path{
  fill: #1A6634;
}

.RengNoti{
  display: flex;
  align-items: center;
  /* background-color: red; */
  height: 100%;
  position: relative;
}

.RengNoti:hover{
  cursor: pointer;

}

.RengNoti:hover .ImgReng path {
  fill: #1A6634;
}

.Noti{
  width: 20px;
  height: 20px;
  background-color: #F1802E;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: -8px;
  position: absolute;
  color: white;
  font-size: 11px;
  font-family: 'Mulish', sans-serif;
}



.ElseOfHeader .iconSearch:hover,
.iconBell:hover{
  color: #248546;
  cursor: pointer;
}

.AvtFull{
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

.circleAvt{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5CB800;
  overflow: hidden;
}

.avt{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.Online{
  width: 12px;
  height: 12px;
  background-color: #05D103;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 37px;
  right: 0px;
  position: absolute;
}

.FilterGroup{
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  width: 98.5%;
  margin-left: 10px;
  border-bottom: 1px solid  #BDC2D2;
}

.Groups{
  display: flex;
  width: 37%;
  gap: 15px
}

.Writing{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 20px;
  border: 2px solid rgb(253, 253, 253);
  color: #6b6b6b;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      /* filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2)); */

}

.Writing:hover{
  border: 2px solid #008000;
}

.CheckWriting {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  appearance: none;
  border-radius: 3px;
  border:2px solid #BBBBBB ;
  margin-left: 10px;
}


.Writing:hover .CheckWriting {
  background-color: #008000;
  border: 2px solid #008000;
}

.CheckWriting:checked {
  background-color: #008000;
  border: 2px solid #008000;
}


.CheckWriting:checked::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 2px;
  height: 8.5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.Writing.active{
  border: 2px solid #008000;
}

.ElseOfFilter{
  display: flex;
  width: 18%;
  /* justify-content: space-between; */
  gap: 15px;
}

.Upload{
  background-color: #ffffff;
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  font-family: 'Mulish', sans-serif;
}

.Upload:hover{
  cursor: pointer;
  filter: brightness(95%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

.iconUp{
  width: 23px;
  height: 23px;
}

.DownandAdd{
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  width: 95px;
  padding-left: 1%;
  padding-right: 1%;
  /* box-sizing: border-box; */
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  font-family: 'Mulish', sans-serif;
  color: #6b6b6b;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
}

.DownandAdd:hover{
  filter: brightness(95%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));

}

.iconDown{
  width: 23px;
  height: 23px;
}

.FilterSearch{
  display: flex;
  align-items: center;
  height: 92px;
  /* justify-content: space-between; */
  width: 98.5%;
  margin-left: 10px;
  border-bottom: 1px solid  #BDC2D2;
}

.Filter1{
  height: 100%;
}

.iconFilter{
  color: #959DB3;
  height: 20px;
  width: 20px;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 7px;

}

.Filter2{
  margin-left: 15px;
  height: 100%;
}

.LDL{
  font-family: 'Mulish', sans-serif;
  color: #5A6276;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;

}

.RBL{
  font-family: 'Mulish', sans-serif;
  color: #008000;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 20px;
  
}


.Filter3{
  height: 100%;
  margin-left: 30px;
}

.Search{
  font-family: 'Mulish', sans-serif;
  color: #8d94a7;
  font-size: 15px;
  font-weight: bold;
}

.BoxSearch{
  background-color: #ffffff;
  width: 350px;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  border-radius: 3px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));

}

.InputSearch{
  width: 88%;
  height: 75%;
  border: none;
  outline: none;
  margin-left: 2%;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
  
}

.BoxSearch .iconSearch{
  height: 16px;
  width: 20px;
  color: #5A6276;
}

.Filter4{
  margin-left: 15px;
  margin-top: 30px;
}

.ButtonSearch{
  width: 50px;
  height: 35px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  background-color: #008000;
  color: white;
  font-family: 'Mulish', sans-serif;
  /* font-weight: bold; */
  font-size: 14px;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

.ButtonSearch:hover{
  filter: brightness(95%) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

.Tim{
  margin-left: 3%;
}

.ButtonSearch .iconSearch{
  color: white;
  height: 18px;
}

.ShowList{
  width: 98.5%;
  margin-left: 10px;
  /* overflow-x: auto; */
}

.Info1{
  display: flex;
  /* background-color: #009e00; */
  margin-top: 30px;

}

.ChooseAll{
  display: flex;
  /* background-color: #fa0606; */
  width: 55%;
  padding-left: 15px;
  box-sizing: border-box;
}

.BoxChooseAll{
  display: flex;
  /* background-color: #1e06fa; */
  cursor: pointer;
}

.CH{
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  color: #5A6276;

}

.PN{
  /* background-color: #6b6b6b; */
  color: white;
  font-family: 'Mulish', sans-serif;
  width: 20%;
  color: #5A6276;
  font-weight: bold;
  font-size: 15px;


}

.TGL{
  /* background-color: #030303; */
  color: white;
  font-family: 'Mulish', sans-serif;
  width: 10%;
  text-align: center;
  color: #5A6276;
  font-weight: bold;
  font-size: 15px;


}

.TT{
  /* background-color: #08d857; */
  color: white;
  font-family: 'Mulish', sans-serif;
  width: 12.5%;
  text-align: right;
  color: #5A6276;
  font-weight: bold;
  font-size: 15px;
  padding-right: 2%;
  box-sizing: border-box;
}

.null{
  /* background-color: aqua; */
  width: 2.5%;
}


.CheckAll {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  appearance: none;
  border-radius: 3px;
  border:2px solid #BBBBBB ;
}

.BoxChooseAll:hover .CheckAll {
  background-color: #008000;
  border: 2px solid #008000;
}

.CheckAll:checked {
  background-color: #008000;
  border: 2px solid #008000;
}


.CheckAll:checked::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 2px;
  height: 8.5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.List{
  /* background-color: yellow; */
  /* height: 500px; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.ShowQuestion {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding-left: 15px;
  white-space: nowrap;

}


/* .ShowQuestionClick {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  position: relative;
} */

.ShowQuestion:hover{
  background-color: #5A8F6D;
  cursor: pointer;

}

.InfoQuestion{
  /* background-color: aqua; */
  display: flex;
  height: 65px;
  width: 55%;
  gap: 15px;
  overflow: hidden;
}

.ThreeInfo {
  /* background-color: #22009e; */
  /* display: flex; 
  flex-direction: column; 
  gap: 0px; */
  /* align-items: center; */
  /* justify-content: space-between ;  */
  padding-top: 10px;
  width: 92%;

}

.Content{
  font-family: 'Mulish', sans-serif;
  width: 100%;
  /* background-color: #009e00; */
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
}

.TwoInfo{
  /* background-color: burlywood; */
  display: flex;
  margin-top: 10px;
}

.Id{
  /* background-color: #5CB800; */
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  /* width: 8%; */
}

.Line{
  border-left: 2px solid #8BA89F;
  margin-left: 8px;
  margin-right: 8px;
  /* background-color: blue; */
}

.Type{
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
}

.Group{
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  width: 20%;
  /* background-color: yellow; */
}

.Time{
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 10%;
  /* background-color: rgb(112, 112, 90); */
}

.Status{
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 12.5%;
  /* background-color: #5A8F6D; */
  padding-right: 2%;
  box-sizing: border-box;
}

.Extension{
  border-left: 1px solid #BDC2D2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5%;
  /* background-color: #5A8F6D; */
  font-family: 'Mulish', sans-serif;
}

/* .Extension:hover {
  background-color: #5A8F6D;
} */


.ThreeDot{
  width: 80%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; */
  border-radius: 3px;
}

.ThreeDot.active,
.ThreeDot.active
.ImgThreeDot path{
  background-color: #BDC2D2;
  fill: white;
}

.ThreeDot:hover,
.ThreeDot:hover
.ImgThreeDot path{
  background-color: #BDC2D2;
  fill: white;
  /* border: 1px solid rgb(255, 0, 0); */
}

.ImgThreeDot path {
  fill: #959DB3;
}

.CheckQuestion {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  appearance: none;
  border-radius: 3px;
  border:2px solid #BBBBBB ;
  top:30%
}

.ShowQuestion:hover .CheckQuestion {
  background-color: #008000;
  border: 2px solid #008000;
}

.ShowQuestionClick:hover .CheckQuestion {
  background-color: #008000;
  border: 2px solid #008000;
}

.CheckQuestion:checked {
  background-color: #008000;
  border: 2px solid #008000;
}


.CheckQuestion:checked::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 4px;
  width: 2px;
  height: 8.5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ShowQuestion.active{
  background-color: #5A8F6D;
}

/* .ShowQuestionClick.active{
  background-color: #5A8F6D;
} */

.BoxExtentsion {
  background-color: #BDC2D2;
  position: absolute;
  z-index: 1000;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  right: 35px;
  top: 18px;
  white-space: nowrap;
}


.ExtOpsion{
  display: flex;
  gap: 20px;
}

.iconExtension{
  color: white;
}

.CheckAlla{
  accent-color: rgb(248, 4, 4);
}

/* .List .ShowQuestion:hover {
  background-color: #5A8F6D;
}

.List .ShowQuestion:hover .ShowQuestionClick {
  background-color: #5A8F6D;
}

.List .ShowQuestion:hover .Extension {
  background-color: #5A8F6D; 
} */